# Enviroment Configuration Systems

* This notebook contains the configurations scripts needed to deploy the WEB Service.

##  Data Base configurations -->

### Create the database.

CREATE DATABASE 23people DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;

### Create the user.

CREATE USER 'xxxxx'@'%' IDENTIFIED BY '********';

### Udpdate the password user

UPDATE mysql.user SET Password=PASSWORD('******') WHERE USER='JR_23people' AND Host='%';

### Create user privileges

GRANT ALL ON 23people.users TO JR_23people@'%' IDENTIFIED BY 'JR_23people';

### Create table 

use 23people;

CREATE TABLE IF NOT EXISTS `users` ( 
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Primary Key',
  `nationalId` varchar(10) NOT NULL,
  `name` varchar(50) NOT NULL COMMENT 'name',
  `lastName` varchar(100) NOT NULL COMMENT 'last Name',
  `age` int(3) DEFAULT NULL,
  `originPlanet` text NOT NULL,
  `PictureURL` text , 
  PRIMARY KEY (`id`),
  UNIQUE KEY `nationalId` (`nationalId`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COMMENT='Users';

### Load users data to the table

LOAD DATA LOCAL INFILE 'C:/LoadData/users.csv' INTO TABLE users FIELDS TERMINATED BY  ';'  LINES TERMINATED BY '\n';

## Python Configuration -->

### Install the Flask library

* This library is used to manage the WS requests

                                             sudo pip install flask

### Install pymysql

* This library is used to manage the conection to the DB

                                              sudo pip install pymysql

### sudo pip install flask_restful

* This Library is used to manage WS API

                                               sudo pip install flask_restful